@charset 'utf-8';
.banner .list-nav>li .list-nav-items {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-sizing: content-box;
}

.banner .list-nav>li .list-nav-items>ul {
    width: 248px;
    float: left;
    height: 458px;
}

.banner .list-nav>li .list-nav-items>ul li {
    position: relative;
    width: 265px;
    height: 76px;
}

.banner .list-nav>li .list-nav-items>ul li a {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.banner .list-nav>li .list-nav-items>ul li a img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
    vertical-align: middle;
}

.banner .list-nav>li .list-nav-items>ul li a .text {
    float: left;
    width: 172px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.banner .list-nav>li .list-nav-items>ul li a:hover {
    color: #ff6700;
}

.banner .list-nav>li .list-nav-one {
    width: 992px;
}

.banner .list-nav>li .list-nav-two {
    width: 992px;
}

.banner .list-nav>li .list-nav-three {
    width: 795px;
}

.banner .list-nav>li .list-nav-four {
    width: 992px;
}

.banner .list-nav>li .list-nav-five {
    width: 795px;
}

.banner .list-nav>li .list-nav-six {
    width: 795px;
}

.banner .list-nav>li .list-nav-seven {
    width: 530px;
}

.banner .list-nav>li .list-nav-8 {
    width: 795px;
}

.banner .list-nav>li .list-nav-9 {
    width: 795px;
}

.banner .list-nav>li .list-nav-10 {
    width: 795px;
}

.banner .list-nav>li:hover {
    background-color: #ff6700 !important;
}

.banner .list-nav>li:hover .list-nav-items {
    display: block;
}