@charset 'utf-8';
.banner-bottom .items-style:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.pro-style {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
.col-16-hide {
  display: none;
}
.mi-shop-right {
  float: left;
  width: 978px;
  height: 339px;
  overflow: hidden;
  position: relative;
}
.mi-shop-right .swiper-container-1 {
  width: 100%;
  height: 100%;
}
.mi-shop-right .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
