@charset "utf-8";
.header-search .logo-img {
  margin-right: 0;
}
.header-search .header-nav-second {
  width: 840px;
  position: relative;
  z-index: 10;
  float: left;
  height: 88px;
  margin: 0;
  padding: 0 0 0 30px;
  list-style-type: none;
  font-size: 16px;
  overflow: visible;
}
.header-search .header-nav-second .all {
  /* position: relative; */
  float: left;
  width: 127px;
  padding-right: 15px;
  display: block;
  padding: 0 0 0px;
  text-align: right;
  color: #333;
  box-sizing: content-box;
}
.header-search .header-nav-second .all:hover {
  color: #ff6700;
  cursor: pointer;
}
.header-search .header-nav-second .all:hover .product-nav {
  display: block;
}
.header-search .header-nav-second .all .product-nav {
  display: none;
  position: absolute;
  top: 88px;
  left: -92px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
  background-color: aqua;
}
.header-search .header-nav-second .all .product-nav .second-nav {
  width: 100%;
  height: 418px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border: 1px solid #ff6700;
  color: #424242;
  background: #fff;
  overflow: visible;
}
.header-search .header-nav-second .all .product-nav .second-nav li {
  width: 100%;
  padding: 0;
}
.header-search .header-nav-second .all .product-nav .second-nav li:hover .bg-a {
  background: #ff6700;
  color: #fff;
}
.header-search .header-nav-second .all .product-nav .second-nav li a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
  font-size: 14px;
  text-align: left;
}
.header-search .header-nav-second .all .product-nav .second-nav li a > .list-right {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}
.second-nav > li .list-nav-items {
  display: none;
  position: absolute;
  left: 236px;
  top: 0;
  z-index: 24;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 18);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  box-sizing: content-box;
}
.second-nav > li .list-nav-items > ul {
  width: 248px;
  float: left;
  height: 458px;
}
.second-nav > li .list-nav-items > ul li {
  position: relative;
  width: 265px;
  height: 76px;
}
.second-nav > li .list-nav-items > ul li a {
  display: block;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.second-nav > li .list-nav-items > ul li a:hover {
  color: #ff6700 !important;
}
.second-nav > li .list-nav-items > ul li a img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 12px;
  vertical-align: middle;
}
.second-nav > li .list-nav-items > ul li a .text {
  width: 172px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.second-nav > li:hover .list-nav-items {
  display: block;
}
.list-nav-one {
  width: 992px;
}
.list-nav-one {
  width: 992px;
}
.list-nav-two {
  width: 992px;
}
.list-nav-three {
  width: 795px;
}
.list-nav-four {
  width: 992px;
}
.list-nav-five {
  width: 795px;
}
.list-nav-six {
  width: 795px;
}
.list-nav-seven {
  width: 530px;
}
.list-nav-8 {
  width: 795px;
}
.list-nav-9 {
  width: 795px;
}
.list-nav-10 {
  width: 795px;
}
a {
  color: #757575;
}
.product-nav {
  height: 63px;
  position: relative;
  z-index: 4;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
.product-nav h2 {
  float: left;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
}
.product-nav .product-nav-right {
  height: 63px;
  width: 100%;
  position: relative;
}
.product-nav .product-nav-right .left {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
}
.product-nav .product-nav-right .line {
  margin: 0 0.5em;
  color: #424242;
}
.product-nav .product-nav-right a {
  color: #616161;
}
.product-nav .product-nav-right a:hover {
  color: #ff6700;
}
.product-nav .product-nav-right .right {
  position: absolute;
  right: 0;
  margin-top: 17px;
}
.clearfloat::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.title {
  font-size: 18px;
}
.mi-detail .detail .detail-product {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 12px;
}
.mi-detail .detail .detail-product .banner-left {
  width: 606px;
  position: relative;
  height: 700px;
}
.mi-detail .detail .detail-product .banner-left .banner-box {
  width: 560px;
  height: 560px;
}
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-prev,
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-next {
  color: #b0b0b0;
  width: 41px;
  height: 69px;
}
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-prev:hover,
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-next:hover {
  background-color: rgba(63, 62, 62, 0.7);
  color: #fff;
}
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-prev::after,
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-button-next::after {
  font-size: 32px;
}
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-pagination span {
  width: 50px;
  border-radius: 0;
  border: 0;
  height: 3px;
}
.mi-detail .detail .detail-product .banner-left .banner-box .swiper-pagination .swiper-pagination-bullet-active {
  background: #a3a3a3;
}
.mi-detail .detail .detail-product .pro-text {
  flex: 1;
  margin-left: 20px;
}
.mi-detail .detail .detail-product .pro-text h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.mi-detail .sale {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
}
.mi-detail .sale span {
  color: #ff4a00;
}
.mi-detail .mi-boss {
  color: #ff6700;
  margin-top: 14px;
  margin-bottom: 0;
}
.mi-detail .pro-money {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 22px;
  border-bottom: 1px solid #e0e0e0;
}
.mi-detail .pro-money del {
  font-size: 14px;
  margin-left: 5px;
  color: #b0b0b0;
}
.mi-detail .pro-order {
  position: relative;
  height: 52px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/buydetail/booking.png) 50% 0 no-repeat;
  display: flex;
  color: #fff;
  margin-top: 15px;
}
.mi-detail .pro-order .left {
  flex: 1;
  height: 100%;
  line-height: 52px;
}
.mi-detail .pro-order .left .tip {
  text-align: right;
  width: 55px;
  line-height: 52px;
  font-size: 14px;
  display: block;
  float: left;
}
.mi-detail .pro-order .left .price {
  font-size: 22px;
  margin-left: 8px;
}
.mi-detail .pro-order .left .price i {
  font-style: normal;
  font-size: 14px;
  vertical-align: middle;
}
.mi-detail .pro-order .right {
  max-width: 200px;
  display: inline-block;
  height: 100%;
  font-size: 12px;
}
.mi-detail .pro-order .right .pro-time {
  height: 30px;
  margin-top: 11px;
  line-height: 30px;
}
.mi-detail .pro-order .right .pro-time .tip-over {
  margin-left: 20px;
  margin-right: 12px;
}
.mi-detail .pro-order .right .pro-time .time-over span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: #c20000;
  border-radius: 2px;
  margin: 0 6px;
  line-height: 16px;
}
.mi-detail .address {
  margin: 20px 0;
}
.mi-detail .address .pro-address {
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.mi-detail .address .pro-address i {
  position: absolute;
  left: 20px;
  top: 26px;
  font-size: 20px;
  color: #999;
}
.mi-detail .address .pro-address .address-info {
  display: inline-block;
}
.mi-detail .address .pro-address .address-info span {
  display: inline;
  margin-right: 14px;
}
.mi-detail .address .pro-address .address-reset {
  display: inline-block;
  color: #ff6700;
  margin: 0;
}
.mi-detail .address .pro-address .pro-num {
  color: #ff6700;
  margin: 0;
}
.mi-detail .buy-option .buy-box {
  margin-bottom: 30px;
  position: relative;
}
.mi-detail .buy-option .buy-box li {
  margin-right: 12px;
  margin-top: 10px;
  line-height: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #e0e0e0;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease;
  float: left;
  width: 292px;
  font-size: 16px;
  text-align: center;
}
.mi-detail .buy-option .buy-box li a {
  display: block;
}
.mi-detail .buy-option .buy-box li:hover {
  z-index: 3;
  border-color: #ff6700;
}
.mi-detail .buy-option .buy-box li:hover a {
  color: #ff6700;
}
.mi-detail .buy-option .buy-box li:nth-of-type(2n) {
  margin-right: 0;
}
.mi-detail .buy-option .buy-box .active {
  z-index: 3;
  border-color: #ff6700;
}
.mi-detail .buy-option .buy-box .active a {
  color: #ff6700;
}
.mi-detail .mi-insure .mi-insure-box {
  margin-bottom: 30px;
}
.mi-detail .mi-insure .mi-insure-box p:nth-of-type(1) {
  margin-bottom: 15px;
  line-height: 1;
}
.mi-detail .mi-insure .mi-insure-box p:nth-of-type(1) a {
  color: #ff6700;
  font-size: 14px;
  float: right;
  line-height: 18px;
}
.mi-detail .mi-insure .mi-insure-box .acc-info {
  margin: 0;
  padding: 0;
  width: 100%;
}
.mi-detail .mi-insure .mi-insure-box .acc-info li {
  border: 1px solid #e0e0e0;
  margin-top: -1px;
  background: #fff;
  cursor: pointer;
  padding: 30px 0;
  position: relative;
  display: flex;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc_active {
  border: 1px solid #ff6700;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc_font_active {
  color: #ff6700 !important;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc_font_bg {
  color: #fff !important;
  background-color: #ff6700;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-logo {
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-left: 30px;
  float: left;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  color: #757575;
}
.mi-detail .mi-insure .mi-insure-box .acc-info img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 10px;
  float: left;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option {
  flex: 1;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 900;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option h3 b {
  font-style: normal;
  font-size: 14px;
  background: #ff6700;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 20px;
  color: #fff;
  margin-left: 2px;
  line-height: 1.5;
  font-weight: 600;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 18px;
  color: #b0b0b0;
  width: 286px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option .checked {
  margin-top: 5px;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option .checked i {
  float: none;
  margin: 0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 2px;
  display: inline-block;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option .checked i b {
  border-radius: 2px;
  border: 1px solid #b0b0b0;
  color: #fff;
  font-size: 12px;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option .checked a {
  color: #ff6700;
  margin: 0 2px;
  display: inline-block;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .acc-option .checked span {
  color: #ff6700;
  margin: 0 2px;
}
.mi-detail .mi-insure .mi-insure-box .acc-info .insure-price {
  position: absolute;
  right: 20px;
  bottom: 28px;
  color: #757575;
}
.mi-detail .pro-res {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
.mi-detail .pro-res .pro-res-info {
  line-height: 30px;
  color: #616161;
}
.mi-detail .pro-res .pro-res-info span {
  float: right;
}
.mi-detail .pro-res .pro-res-price {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
}
.mi-detail .pro-into-car {
  margin: 10px 0 20px 0;
}
.mi-detail .pro-into-car .pro-into {
  display: inline-block;
  margin-right: 10px;
}
.mi-detail .pro-into-car .pro-into a {
  display: block;
  text-align: center;
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  background: #ff6700;
  color: #fff;
}
.mi-detail .pro-into-car .pro-into a:hover {
  background-color: #f25807;
  border-color: #f25807;
  color: #fff;
  box-shadow: inset 0 2px 4px #0000002e;
  cursor: pointer;
}
.mi-detail .pro-into-car .pro-like {
  display: inline-block;
  vertical-align: top;
}
.mi-detail .pro-into-car .pro-like span {
  display: block;
  width: 140px;
  height: 52px;
  line-height: 52px;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 16px;
  position: relative;
  background: #b0b0b0;
  color: #fff;
}
.mi-detail .pro-into-car .pro-like span .like {
  font-size: 22px;
  line-height: 23px;
  vertical-align: -4px;
  margin-right: 5px;
  font-weight: 600;
}
.mi-detail .pro-into-car .pro-like span:hover {
  background-color: #757575;
}
.mi-detail .pro-server a {
  display: inline-block;
  margin-right: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  cursor: default;
  white-space: nowrap;
  color: #b0b0b0;
}
.mi-detail .pro-server a i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.mi-detail .pro-server a span {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.mi-detail .price-info {
  padding-bottom: 50px;
  background: #f5f5f5;
}
.mi-detail .price-info .price-title {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
.mi-detail .price-info .price-img {
  position: relative;
  width: 100%;
}
.mi-detail .price-info .price-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.more_car {
  background-color: #ff6700 !important;
  color: #fff !important;
}
.more_car i {
  color: #fff;
}
.more_car .p_n {
  color: #fff !important;
}
.shop-car:hover {
  background-color: #fff !important;
  color: #ff6700 !important;
}
.shop-car:hover i {
  color: #ff6700;
}
.shop-car:hover .p_n {
  color: #ff6700 !important;
}
